@import "tailwindcss";

:root {
  
  --background: #0a0a0a;
  --foreground: #ededed;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-grenze-gotisch: var(--font-grenze-gotisch);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ededed;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.8);
}