# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present
      env:
        KINDE_ISSUER_URL: ${{ secrets.KINDE_ISSUER_URL }}
        DATABASE_URL: ${{ secrets.DATABASE_URL }}
        KINDE_CLIENT_ID: ${{ secrets.KINDE_CLIENT_ID }}
        KINDE_CLIENT_SECRET: ${{ secrets.KINDE_CLIENT_SECRET }}
        KINDE_SITE_URL: ${{ secrets.KINDE_SITE_URL }}
        KINDE_POST_LOGOUT_REDIRECT_URL: ${{ secrets.KINDE_POST_LOGOUT_REDIRECT_URL }}
        KINDE_POST_LOGIN_REDIRECT_URL: ${{ secrets.KINDE_POST_LOGIN_REDIRECT_URL }}
        BLOB_READ_WRITE_TOKEN: ${{ secrets.BLOB_READ_WRITE_TOKEN }}
    - run: npm test
      env:
        KINDE_ISSUER_URL: ${{ secrets.KINDE_ISSUER_URL }}
        DATABASE_URL: ${{ secrets.DATABASE_URL }}
        KINDE_CLIENT_ID: ${{ secrets.KINDE_CLIENT_ID }}
        KINDE_CLIENT_SECRET: ${{ secrets.KINDE_CLIENT_SECRET }}
        KINDE_SITE_URL: ${{ secrets.KINDE_SITE_URL }}
        KINDE_POST_LOGOUT_REDIRECT_URL: ${{ secrets.KINDE_POST_LOGOUT_REDIRECT_URL }}
        KINDE_POST_LOGIN_REDIRECT_URL: ${{ secrets.KINDE_POST_LOGIN_REDIRECT_URL }}
        BLOB_READ_WRITE_TOKEN: ${{ secrets.BLOB_READ_WRITE_TOKEN }}
